.reveal .slide-logo {
  height: 50px !important;
  max-width: unset !important;
  max-height: unset !important;
}

.reveal .callout.callout-style-default .callout-body {
 	  font-size: 1.2em;
}

.boxbox{
  border-radius: 20px;
  padding: 20px;
  background-color: #54818F;
  color: #FFFFFF;
}