/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@400;600&family=JetBrains+Mono:ital,wght@0,300;0,600;1,300;1,600&family=Jost:ital,wght@0,400;0,600;1,400;1,600&family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap');

// fonts
$font-family-sans-serif: 'Graphik', -apple-system, BlinkMacSystemFont, 'Jost','HiraginoSans-W3', 'IBM Plex Sans JP', sans-serif !default;
$font-family-monospace: 'JetBrains Mono', monospace !default;
$presentation-heading-font: 'Montserrat', -apple-system, 'BlinkMacSystemFont', 'Hiragino Sans', 'IBM Plex Sans JP', sans-serif !default;
$presentation-font-size-root: 36px;
$body-color:#1A5C71;
$link-color: #4791B3;
$presentation-heading-color: $body-color;
$presentation-heading-text-transform: none;
$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.2em;
$code-block-font-size: 0.8em;
$callout-color-note: #1A5C71;

/*-- scss:rules --*/

.reveal .footer {
    color: #1A5C71 !important;
};

.reveal .slide aside .aside-footnotes {
    color: #1A5C71 !important;
};



.reveal .slides {
  margin-top: 0.3em;
};

.boxbox{
  border-radius: 10px;
  padding: 25px;
  background-color: #1A5C71;
  color: #FFFFFF;
}

#title-slide .subtitle, div.reveal div.slides section.quarto-title-block .subtitle {
  font-size: 1.2em;
}

.reveal .quarto-title-block .quarto-title-authors {
  font-size: 1em;
}

.quarto-title-author-email{
  font-family: $font-family-monospace;
  font-size: 0.8rem;
}

.quarto-title-affiliation{
  font-size: 1rem;
}

.date{
  font-size: 1.5rem;
}

.reveal ol {
  list-style-position: inside;
  margin-left: 0;
}

.reveal table, th, td {
    font-family: 'Goldman Sans', -apple-system, 'BlinkMacSystemFont','Hiragino Sans', 'Jost', 'IBM Plex Sans JP', sans-serif;
}

.reveal .callout.callout-style-simple .callout-body {
    font-size: 1.2em;
}

.reveal .callout.callout-style-default .callout-body {
    font-size: 1.2em;
}